{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{% if app.user %}
    <img src="{{ app.user.picture }}" class="rounded-circle"/>
    <h1>Hello {{ app.user.username }}</h1>
    {% endif %}

{% endblock %}
