/* Theme **/
$black : #0B0B0B;
$white: #F8F8F8;
$darkbg: #090E26;
$lighterbg: #181D39;
$darkerbg: #f4f4f4;
$gradient-orange: linear-gradient(40deg, #DE7332 0%, #D54A5A 100%);
$gradient-green: linear-gradient(40deg, #1FDCE8 0%, #23C36F 100%);


/* Categories **/
$personal: #FFC759;
$home: #CF3888;
$savings: #DE7332;
$health: #5FD597;
$transportation: #5430B1;
